
/*
Theme Name: Speak Down Theme
Theme URI: https://kloof.cemreworks.com
Author: Cemre Tellioğlu Tunçay
Author URI: https://cemreworks.com
*/

body{

    font-family: 'Montserrat', sans-serif;

}
.topOff{
    margin-top: 15px;
}
.fixedArea {
    position: fixed;
    z-index: 99999;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.myNavbar{
    background-color: transparent !important;
    border: 0px !important;
}

.myNavUl > li >a {
    padding-top: 10px !important;
    padding-bottom: 0px;
    padding: 10px 20px;
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #00e099;

}

.paddTop{
    padding-top: 10px;
}
.myCaption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
    top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    /* font-family: MONOSPACE; */
}

.myContainerAbs {
    position: absolute;
    /* top: 0px; */
    bottom: 210px;
    background: #333333e6;
    padding: 20px;
}

.myButton{
    background: #00e099;
    border: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.myInput{
    background: transparent;
    border-radius: 0px;
    border-color: #dddddd40;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.myInput::placeholder{
    color: #ffffff;
}

.myInput:focus{
    border-color: #dddd;
    text-shadow: 0px;
    box-shadow: none;
}

.mainText{
    margin-top: 135px;
    font-family: 'Monstreat';
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* line-height: 100; */
    letter-spacing: -1px;
    color: #00e099;
    text-transform: uppercase;
}

.myTextMain {
    line-height: 35px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;

}

.backGroundImage {
    margin-top: 50px;
    background: url(../img/back.png);
    background-position: top;
    background-size: cover;
}

#carousel-example-generic-main {
    margin-top: 20px;
}

.noPadding{
    padding: 0px;

}

.filterBack{
    background: url(../img/fullresponsive.png);
    background-position: top;
    background-size: cover;
    min-height: 350px;
    color: red;
    font-weight: bold;
    background-attachment: fixed;

}
.abs{
    position: absolute;
    top: 0px;
    min-height: 350px;
    background-color: #000;
    position: absolute;
    top: 0px;
    min-height: 350px;
    background-color: #0000008a;
    width: 100%;
    color: #fff;

}

.absTitle{
    margin-top: 130px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.absText{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.withBottom{
    margin-bottom: 75px;

}

.priceBackground {
    background: #f6f6f6;
}

.pricePadd{
    padding: 50px;

}

#blue{
    
    background-color: #003056;
    padding: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#light-blue{
    background-color: #00a1d9; 
    padding: 40px;

    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

#orange{
    background-color: #ec945e;
    padding: 40px;

    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

#green{
    background-color: #00e099;
    padding: 40px;

    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;


}

.pricePadd span{
    font-size: 30px;
}

.pricePadd p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#myCarouselNew .carousel {
	max-width: 650px;
	margin: 0 auto;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 40px;

}
#myCarouselNew .carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
    font-family: 'Montserrat', sans-serif;

}
#myCarouselNew .carousel .item a {
	color: #eb7245;
}
#myCarouselNew .carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
#myCarouselNew .carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
#myCarouselNew .carousel .testimonial {	
	padding: 30px 0 10px;
}
#myCarouselNew .carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
#myCarouselNew .carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
#myCarouselNew .carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
#myCarouselNew .carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
	top: 4px;
}
#myCarouselNew .carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
#myCarouselNew .carousel-control.left {
	left: auto;
	right: 40px;
}
#myCarouselNew .carousel-control.right i {
	margin-right: -2px;
}
#myCarouselNew .carousel .carousel-indicators {
	bottom: 15px;
}
#myCarouselNew .carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
#myCarouselNew .carousel-indicators li {	
	background: #e2e2e2;
	border-color: transparent;
}
#myCarouselNew .carousel-indicators li.active {
	border: none;
	background: #888;		
}

.noTop{
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.myInputFooter{
    background: transparent;
    border-radius: 0px;
    border-color: #dddddd40;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.myInputFooter:focus{
    outline: 0px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.backNewsletter{

    padding: 40px;
    background: #f6f6f6;

}

.backFooter{
    padding: 40px;

}

.footertext {
    text-align: start;
    /* font-size: 16px; */
    /* font-weight: bold; */
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-top: 0px;
    font-weight: bold;
    line-height: 1.1;
    /* margin-left: 10px; */
    font-size: 16px;
    /* font-size: 24px; */
}

#carousel-example-generic .carousel-control.left {
    background: none !important;
}


#carousel-example-generic .carousel-control.right {
    background: none !important;
}

#carousel-example-generic .carousel-control .glyphicon-chevron-left, 
#carousel-example-generic .carousel-control .glyphicon-chevron-right, 
#carousel-example-generic .carousel-control .icon-next, 
#carousel-example-generic .carousel-control .icon-prev {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
}

#carousel-example-generic .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #00e099;
    border: aliceblue;
}

#carousel-example-generic-main .carousel-control.left {
    background: none !important;
}


#carousel-example-generic-main .carousel-control.right {
    background: none !important;
}

#carousel-example-generic-main .carousel-control .glyphicon-chevron-left, 
#carousel-example-generic-main .carousel-control .glyphicon-chevron-right, 
#carousel-example-generic-main .carousel-control .icon-next, 
#carousel-example-generic-main .carousel-control .icon-prev {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
}

#carousel-example-generic-main .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #00e099;
    border: aliceblue;
}

.list-group-item {
    border-left: 0px;
    border-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.myButton:focus {
        outline: 0px;
        border: 1px solid #ddd;
        box-shadow: none;
}

.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
    color: #ddd;
    background-color: #333;
    border: 0px;
    box-shadow: none;
    border: 0px;
    text-shadow: NONE;
}

.section-padding {
    padding: 45px 0;
}
.section-dark {
    background-color: #f9f9f9;
    z-index: -2;
    border-bottom: 1px solid #BDBDBD;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    float: left;
}

.form-control::-moz-placeholder,
.form-group .form-control::-moz-placeholder {
    color: #BDBDBD;
    font-weight: 400
}

.form-control:-ms-input-placeholder,
.form-group .form-control:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 400
}

.form-control::-webkit-input-placeholder,
.form-group .form-control::-webkit-input-placeholder {
    color: #BDBDBD;
    font-weight: 400
}

.form-control[disabled],
.form-control[readonly],
.form-group .form-control[disabled],
.form-group .form-control[readonly],
fieldset[disabled] .form-control,
fieldset[disabled] .form-group .form-control {
    background-color: rgba(0, 0, 0, 0)
}

.form-control[disabled],
.form-group .form-control[disabled],
fieldset[disabled] .form-control,
fieldset[disabled] .form-group .form-control {
    background-image: none;
    border-bottom: 1px dotted #D2D2D2
}

.form-group {
    position: relative
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label,
.form-group.label-static label.control-label {
    position: absolute;
    pointer-events: none;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all
}

.form-group.label-floating label.control-label {
    will-change: left, top, contents
}

.form-group.label-placeholder:not(.is-empty) label.control-label {
    display: none
}

.form-group .help-block {
    position: absolute;
    display: none
}

.form-group.is-focused .form-control {
    outline: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}

.form-group.is-focused .form-control .material-input:after {
    background-color: #009688
}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color: #009688
}

.form-group.is-focused.label-placeholder label,
.form-group.is-focused.label-placeholder label.control-label {
    color: #BDBDBD
}

.form-group.is-focused .help-block {
    display: block
}

.form-group.has-warning .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-group.has-warning.is-focused .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5722), to(#ff5722)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#ff5722, #ff5722), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#ff5722, #ff5722), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#ff5722, #ff5722), linear-gradient(#D2D2D2, #D2D2D2)
}

.form-group.has-warning .help-block,
.form-group.has-warning label.control-label {
    color: #ff5722
}

.form-group.has-error .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-group.has-error .help-block,
.form-group.has-error label.control-label {
    color: #f44336
}

.form-group.has-success .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-group.has-success.is-focused .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4caf50), to(#4caf50)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#4caf50, #4caf50), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#4caf50, #4caf50), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2)
}

.form-group.has-success .help-block,
.form-group.has-success label.control-label {
    color: #4caf50
}

.form-group.has-info .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-group.has-info.is-focused .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#03a9f4), to(#03a9f4)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#03a9f4, #03a9f4), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#03a9f4, #03a9f4), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#03a9f4, #03a9f4), linear-gradient(#D2D2D2, #D2D2D2)
}

.form-group.has-info .help-block,
.form-group.has-info label.control-label {
    color: #03a9f4
}

.form-group textarea {
    resize: none
}

.form-group textarea~.form-control-highlight {
    margin-top: -11px
}

.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.form-group select~.material-input:after {
    display: none
}

.form-control {
    margin-bottom: 7px
}

.form-control::-moz-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-control:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-control::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}
.checkbox label,
.radio label,
label {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    font-weight: 400;
    margin: 16px 0 0 0
}

.help-block {
    margin-top: 0;
    font-size: 12px
}

.form-group {
    padding-bottom: 7px;
    margin: 28px 0 0 0
}

.form-group .form-control {
    margin-bottom: 7px
}

.form-group .form-control::-moz-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-group .form-control:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-group .form-control::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-group .checkbox label,
.form-group .radio label,
.form-group label {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-group label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    font-weight: 400;
    margin: 16px 0 0 0
}

.form-group .help-block {
    margin-top: 0;
    font-size: 12px
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 16px;
    line-height: 1.42857143
}

.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label,
.form-group.label-static label.control-label {
    top: -30px;
    left: 0;
    font-size: 12px;
    line-height: 1.07142857
}

.form-group.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
    top: -30px;
    left: 0;
    font-size: 12px;
    line-height: 1.07142857
}

.form-group.form-group-sm {
    padding-bottom: 3px;
    margin: 21px 0 0 0
}

.form-group.form-group-sm .form-control {
    margin-bottom: 3px
}

.form-group.form-group-sm .form-control::-moz-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-sm .form-control:-ms-input-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-sm .form-control::-webkit-input-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-sm .checkbox label,
.form-group.form-group-sm .radio label,
.form-group.form-group-sm label {
    font-size: 11px;
    line-height: 1.5;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-sm label.control-label {
    font-size: 9px;
    line-height: 1.125;
    font-weight: 400;
    margin: 16px 0 0 0
}

.form-group.form-group-sm .help-block {
    margin-top: 0;
    font-size: 9px
}

.form-group.form-group-sm.label-floating label.control-label,
.form-group.form-group-sm.label-placeholder label.control-label {
    top: -11px;
    font-size: 11px;
    line-height: 1.5
}

.form-group.form-group-sm.label-floating.is-focused label.control-label,
.form-group.form-group-sm.label-floating:not(.is-empty) label.control-label,
.form-group.form-group-sm.label-static label.control-label {
    top: -25px;
    left: 0;
    font-size: 9px;
    line-height: 1.125
}

.form-group.form-group-sm.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
    top: -25px;
    left: 0;
    font-size: 9px;
    line-height: 1.125
}

.form-group.form-group-lg {
    padding-bottom: 9px;
    margin: 30px 0 0 0
}

.form-group.form-group-lg .form-control {
    margin-bottom: 9px
}

.form-group.form-group-lg .form-control::-moz-placeholder {
    font-size: 18px;
    line-height: 1.3333333;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-lg .form-control:-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.3333333;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-lg .form-control::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 1.3333333;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-lg .checkbox label,
.form-group.form-group-lg .radio label,
.form-group.form-group-lg label {
    font-size: 18px;
    line-height: 1.3333333;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-lg label.control-label {
    font-size: 14px;
    line-height: .99999998;
    font-weight: 400;
    margin: 16px 0 0 0
}

.form-group.form-group-lg .help-block {
    margin-top: 0;
    font-size: 14px
}

.form-group.form-group-lg.label-floating label.control-label,
.form-group.form-group-lg.label-placeholder label.control-label {
    top: -5px;
    font-size: 18px;
    line-height: 1.3333333
}

.form-group.form-group-lg.label-floating.is-focused label.control-label,
.form-group.form-group-lg.label-floating:not(.is-empty) label.control-label,
.form-group.form-group-lg.label-static label.control-label {
    top: -32px;
    left: 0;
    font-size: 14px;
    line-height: .99999998
}

.form-group.form-group-lg.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
    top: -32px;
    left: 0;
    font-size: 14px;
    line-height: .99999998
}

select.form-control {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0
}

.form-group.is-focused select.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #D2D2D2
}

.form-group.is-focused select.form-control[multiple],
select.form-control[multiple] {
    height: 85px
}

.input-group-btn .btn {
    margin: 0 0 7px 0
}

.form-group.form-group-sm .input-group-btn .btn {
    margin: 0 0 3px 0
}

.form-group.form-group-lg .input-group-btn .btn {
    margin: 0 0 9px 0
}

.input-group .input-group-btn {
    padding: 0 12px
}

.input-group .input-group-addon {
    border: 0;
    background: 0 0
}

.find-widget a{
    color: #eb7245;
}
.find-widget{

    margin-bottom: 10px;

}

.form-group input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}
.contact-widget-section .single-contact-widget {
    background: #f9f9f9;
    padding: 20px 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    height: 260px;
    margin-top: 25px;
    transition: all 0.3s ease-in-out
}

.contact-widget-section .single-contact-widget i {
    font-size: 75px
}

.contact-widget-section .single-contact-widget h3 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    padding-bottom: 10px
}

.contact-widget-section .single-contact-widget p {
    line-height: 16px
}

.contact-widget-section .single-contact-widget:hover {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

#contactForm {
    margin-top: -10px
}

#contactForm .form-group label.control-label {
    color: #8c8c8c
}

#contactForm .form-control {
    font-weight: 500;
    height: auto
}

.marginBottom{
    margin-bottom: 30px;
}

#section1 .left.carousel-control {
    position: absolute;
    top: calc(100vw/6);
    bottom: 0;
    left: 30px;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

#section1 .right.carousel-control {
    position: absolute;
    top: calc(100vw/6);
    bottom: 0;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
    right: 30px !important;
}

#section2 .left.carousel-control {
    position: absolute;
    top: 190px;
    bottom: 0;
    left: 30px;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

#section2 .right.carousel-control {
    position: absolute;
    top: 190px;
    bottom: 0;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
    right: 30px !important;
}

section#section1 {
    float: left;
    display: block;
    position: relative;
    width: 100%;
    margin-top: 96px;
}

section#section2 {
    float: left;
    display: block;
    position: relative;
    width: 100%;
}

section#section3 {
    float: left;
    display: block;
    position: relative;
    width: 100%;
}
section#section4 {
    float: left;
    display: block;
    position: relative;
    width: 100%;
}
section#section5 {
    float: left;
    display: block;
    position: relative;
    width: 100%;
}






.marginTop{
    margin-top: 10px;
}